PORT=
DATABASE_URL=
JWT_SECRET=
CORS_ORIGIN=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=
SMTP_FROM=

GUPSHUP_API_KEY=
GUPSHUP_APP_NAME=
GUPSHUP_SOURCE_NUMBER=

GOOGLE_STORAGE_BUCKET_DICOM=
GOOGLE_STORAGE_BUCKET_ANEXOS=
GOOGLE_APPLICATION_CREDENTIALS=

ORTHANC_URL=
ORTHANC_AUTH=
ORTHANC_RETENTION_DAYS=

GROQ_API_KEY=
